*{
    
    font-family: sans-serif;
}

body{
    background:  #fcfcfc;
}

.checkoutPage{
    padding-left: 15%;
    padding-right: 15%;

}

.line{
    width: 100%;
    height: 0%;
    align-self: center;
    border-radius: 5px;
    background-color: rgb(177, 176, 176);
    
}

.radio{
    padding-left: 5%;

}
.radio1{
    padding-left: 14%;

}
.demo2{
    padding-top: 3%;
    padding-bottom: 3%;
}

.checkoutContainer{
    padding: 3%;
    align-self: right;
    padding-left: 10%;
}

.theBill{
    padding: 3%;
    padding-left: 8%;
    align-self: center;
    border-radius: 10px;
    background-color: rgb(209, 208, 208);
}

.theOrderLocation{
    padding: 3%;
    align-self: center;
    border-radius: 10px;
    background-color: rgb(183, 180, 180);
}

.thePaymant{
    padding: 3%;
    align-self: center;
    border-radius: 10px;
    background-color: rgb(183, 180, 180);
}

.adress{
    padding-top: 5%;
    padding-left: 7.3%;
}