.MenuOption-btn {
    border: none;
    padding: 0.5rem;
    background-color: #F69852;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1rem;
    border: 0.1rem solid;
    border-color: #F69852;
}

.MenuOption-btn img{
    display: flex;
    align-items: center;
}

.MenuOption-btn:hover {
    border-color: black;
    border-radius: 1rem;
}

.Options-container {
    position:absolute;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.288);
    display: none;
    z-index: 1;
}

.MenuOption-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.MenuOption-container:hover .Options-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-direction: column;
    background-color: white;
}

.Options-container a {
    text-decoration: none;
    color: black;
    padding: 0.4rem;
}

.Options-container a:hover {
    background-color: rgb(204, 200, 200);
}