.ImageSlider-container {
    padding: 1rem;
    display: flex;
    width: 45rem;
    height: 30rem;
}

.Promo-Image{
    width: 45rem;
    height: 30rem;
}

.OverPromoImage-container {
    position: absolute;
    width: 45rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.SliderButtons-container {
    display: flex;
    padding-bottom: 0.3rem;
    gap: 0.5rem;
}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #F69852;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

input[type="radio"]:hover {
    border: 0.15rem solid #F69852;
}

input[type="radio"]:checked {
    background-color: #F69852
}
