
.Login-body-container-main {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 4rem; 
  border: 0;

}

.Login-body-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Forget-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E55241;
}


.Login-title-form-container {
 
  display: flex;
  justify-content: center;
  align-content: center;
  border:0;
  padding: 0;
  margin: 0;
  text-shadow: none;
  font-weight:0;

}

.Login-text{
  display: flex;
  justify-content: center;
  align-content: center;
  border: 0;
  padding: 0;
  margin: 0;
}

.Authentif-btn {
  
  border-radius: 0.2rem;
  border: solid #E55241 0.1rem;
  color: #E55241;
  background-color: white;
  height: 3rem;
  font-size: 1rem;
  text-decoration: none;
  width: 25rem;
}

.Authentif-btn:hover {
  background-color: rgb(241, 234, 234);
}

.Login-form {
  display: grid;
  gap: 2rem;
}

.Login-input-container { 
  display: grid;
  row-gap: 1.5rem;
  text-decoration: none;

}

.Login-input { 
  border-style: none;
  border-radius: 0.13rem;
  border: solid #8d8d8d 0.1rem;
  height: 2.5rem;
  text-align:left;
} 

.Login-btn {
  border: none;
  border-radius: 0.2rem;
  background-color: #E55241;
  color: white;
  height: 3rem;
  font-size: 1rem;
  width: 25rem;
}

.Login-btn:hover {
  background-color: #b44134;
}

.Login-text-container{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
 
}

.Rectangle-shape {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 65rem;
  height: 0.3rem;
  background: rgb(165, 162, 162);
  margin-left: 0;
}

.Login-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-header-container h3 {
  margin: 0;
}

.Login-input-error-container {
  display: flex;
  flex-direction: column;
}
