:root {
    --width: 65rem;
}

.Product-details-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Product-details-title-container {
    background-image: linear-gradient(to right, #F9F0D1, #F8DAB0);
    display: flex;
    justify-content: center;
    width: var(--width);
    box-shadow: 0 0 0.8rem -0.5rem;
    border-radius: 1rem;
}

.Main-details-container {
    width: var(--width);
    padding: 2rem;
}

.Product-details-title-container h2 {
    padding-right: 45rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.Product-details-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 1rem -0.5rem;
    border-radius: 1rem;
}

.Product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product-image-container img {
    aspect-ratio: 3/2;
    width: 30rem;
}

.Product-elemnents-container {
    padding: 2.5rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.Product-elemnents-container p{
    text-align: center;
    width: 27rem;
}

.Product-name-container {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.Product-name-container h2{
    margin: 0;
    text-align: center;
}

.Details-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.Buy-product-btn {
    background-color: #E55241;
    border: 0;
    border-radius: 0.2rem;
    color: white;
    font-size: large;
    width: 9rem;
    height: 2.5rem;
}

.Buy-product-btn:hover {
    background-color: #b44134;
}

.Fav-product-btn {
    background-color: #F69852;
    color: white;
    font-size: large;
    width: 12rem;
    height: 2.5rem;
    border: 0;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.Fav-product-btn:hover {
    background-color: #b8723d
}

.Price-detail-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
 
.Product-tab-container {
    background-color: #F9F0D1;
    border-radius: 1rem;
}

.Product-tab-btn {
    background-color: #F9F0D1;
    border: none;
    height: 4rem;
    width: 9rem;
    font-size: larger;
}

.Tab-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F0D1;
    border-radius: 1rem;
}

.Tab-aux-container {
    width: var(--width);
    box-shadow: 0 0 0.8rem -0.5rem;
    border-radius: 1rem;
}

.Product-info-container {
    padding: 3rem;
    background-color: #FCF9EB;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.Review-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

.Review-person-name {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 0.3rem;
}

#Description {
    border-top-left-radius: 1rem;
}

.Review-text-area-container {
    display: flex;
    flex-direction: column;
}

.Review-text-area {
    height: 5rem;
}

.Submit-review-btn {
    background-color: #E55241;
    border: 0;
    border-radius: 0.2rem;
    color: white;
    width: 7rem;
    height: 1.5rem;
    margin-top: 0.5rem;
}

.Submit-review-btn:hover {
    background-color: #b44134;
}
