.Register-body-container {
    display: flex;
    justify-content: center;
    gap: 2rem
    
}

.PromoImage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Register-promo-image {
    width: 25rem;
}