.Register-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
    
}

.PromoImage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Register-promo-image {
    width: 25rem;
}

.Register-input-container {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.Register-form {
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
}